body {
  margin: 0;
}

::-moz-selection {
  background-color:  black;
  color: #fff;
}

::selection {
  background-color:black;
  color: #fff
}

.gitcv-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.mdl-textfield--expandable {
  width: auto;
}

.gitcv-mobile-title {
  display: none !important;
}


.gitcv-header {
  overflow: visible;
  background-color: white;
}

  .gitcv-header .material-icons {
    color: #767777 !important;
  }

  .gitcv-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .gitcv-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .gitcv-navigation-container {
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .gitcv-navigation {
    direction: ltr;
    justify-content: flex-end;
    width: 800px;
  }


  .gitcv-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .android-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #1E88E5;
    }

