doctype html
html
    head
        title="Welcome"   
        style 
            include css/teal-deep_orange.min.css           
    body
        div(class='mdl-card mdl-shadow--2dp')
            div(class='mdl-card__title')
                h2(class='mdl-card__title-text') Welcome, please click below to proceed using your GIT details
            div(class='mdl-card__supporting-text')
            div(class='mdl-card__actions mdl-card--border')
                  a(
                    class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect'
                    href='http://localhost:3000/auth'
                  ) Authenticate With GIT

