doctype html
html
    head
        link(rel='stylesheet', href='public/css/material.css')
        title="Hello Pug"            
    body
        p.greetings#people Hello Views!#
        input(
            type='checkbox'
            name='agreement'
            checked
        )
        button(class='mdl-button mdl-js-button mdl-button--fab mdl-button--colored')
